- unless current_user
  = semantic_fields_for @user do |u|
    = u.input :username, input_html: { required: 'required', autocomplete: 'off' }, label: '用户名'
    = u.input :email, input_html: { required: 'required', autocomplete: 'off' }
    = u.input :password, input_html: { required: 'required', autocomplete: 'off', id: 'password_inline' }, label: '密码'
    = u.input :password_confirmation, input_html: { required: 'required', autocomplete: 'off' }, label: '重复密码'
  = render partial: 'devise/shared/openid'
  = render partial: 'devise/shared/help'
