= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#registration' } Registration

.container
  .row
    .col-md-12.text-center
      %h1 Registration

      - if @conference.registration_limit_exceeded?
        %p
          对不起，活动已经满员了。
      - else
        - if @conference.tickets.empty?
          %p.lead
            参加
            = @conference.short_title
            是免费的。
          %p
            但我们希望您在
            = @conference.registration_period.end_date.strftime('%A, %B %-d. %Y')
            之前注册以便我们确定活动规模。
            %p.cta-button
        - else
          %p
            注册将于
            = @conference.registration_period.end_date.strftime('%A, %B %-d. %Y')
            关闭。
          %p.cta-button
        = link_to(new_conference_conference_registration_path(@conference.short_title), class: 'btn btn-lg btn-success') do
          立即注册
